# Webserver configuration
APP_HOST=localhost
APP_PORT=8000

# Cloud provider
# The only available value is `openstack`
PROVIDER=openstack

# Openstack provider configuration
OPENSTACK_NETWORK=Ext-Net
OPENSTACK_TAG=gateway
